[submodule "submodules/custom-bg-depth-diff-gaussian-rasterization"]
	path = submodules/custom-bg-depth-diff-gaussian-rasterization
	url = https://github.com/joungbinlee/custom-bg-depth-diff-gaussian-rasterization.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn.git
